## importing needed library

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy as sp

## importing data

In [4]:
data = pd.read_csv("flights.csv")
data.head()

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0

In [5]:
data["arr_delay"]

0         11.0
1         20.0
2         33.0
3        -18.0
4        -25.0
          ...
336771     NaN
336772     NaN
336773     NaN
336774     NaN
336775     NaN
Name: arr_delay, Length: 336776, dtype: float64

In [8]:
data["arr_delay"].mean()

6.89537675731489

In [ ]:
data["arr_delay"].p